a,
p,
h4,
h5 {
    color: aliceblue;
}
main {
    background: linear-gradient(to bottom, var(--corPrimary-1), var(--corPrimary-2), var(--corPrimary-2));
}

button{
    border: none;
}

main, aside{
    padding: 16px 0px;
}
